################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gk.BookStore/.vs/Gk.BookStore
/Gk.BookStore/Gk.BookStore/obj
/Gk.BookStore/Gk.BookStore/wwwroot/lib
