
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <img class="logo" src="~/images/logo.jpg" alt="logo" />
    <img src="~/mystaticfiles/prague-conference-center-1056491.jpg" class="logo"/>
    <h1>Welcome to Bookstore application</h1>
    <p>This is the home page for our book store application</p>
</body>
</html>
